# OS metadata
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local environments & secrets
.env
.env.local
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
